@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

.navbar {
		margin-bottom: 0;
		margin-top: 0;
		 border-radius: 0;
		 background-color:black;
    opacity: 0.70;
    filter:(opacity=50);
		font-size: 18px;
	 }

	 .carousel-control{
		 color: black;
		 opacity: 100%;
	 }

	 .carousel-caption > h3{
		 color: white;
		 font-size: 30px;
	 }

	 .carousel-caption > p{
		 color: white;
		 font-size: 15px;
	 }

.jumbotron {
      margin-bottom: 0;
      /*background-image: url("img/home_head_background.jpg");*/
			background-color #9E9E9E;
      background-size: cover;
      background-position: center;
    }


 .carousel-inner > .item > img {

	width:100%; height: 700px !important
}

@media (min-width: 481px) and (max-width: 767px) {
	.carousel-inner > .item > img {

	 width:100%; height: 520px !important
 }
}
@media (max-width: 480px) {
	.carousel-inner > .item > img {

	 width:100%; height: 400px !important
 }
}
.item {
    display: none;
    position: relative;
    .transition(.1s ease-in-out left);
}


body {
	background-color: #FAFAFAit ;
	background-size : 1000px;
	color: #424242;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size: 16px;
}

}

img{
	border-radius: 2px;
}
.footer-bs {
  background-color: #3c3d41;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 20px;
	margin-top:60px;
	border-radius: 2px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px;  color: #BDBDBD; font-family: 'Oswald', sans-serif; font-size: 23px;}
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}

/* CSS DEL LOGIN SOTTO --------------------------------------------------*/



/*a, a:hover, a:focus {
	color: #de995e;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}*/

h1 {
	margin-top: 0px;
	font-size: 32px;
  font-weight: 70;
  color: #555;
  line-height: 20px;
		font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

h2{
	margin-top: 0px;
	font-size: 27px;
  font-weight: 70;
  color: #555;
  line-height: 30px;
		font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
			font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

img { max-width: 100%; }

/*::-moz-selection {  background: #de995e; color: #fff; text-shadow: none; }*/
::selection { background: #de995e; color: #fff; text-shadow: none; }

.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #de995e;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus,
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top content *****/

.inner-bg {
    /* padding: 20px 0 30px 0;*/
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover,
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
	/*margin-top: 35px;
	padding-top: 60px;*/
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left h1 {
	float: left;
	width: 75%;
	padding-top: 25px;
	margin-top: 20px;
}

.form-top-left h3 { margin-top: 0; }
.caption.header h3 {
	font-size: 22px;
		/*font-weight: 300;*/
   font-weight: bold;
	   text-align: right;
	   text-transform: uppercase;
	   text-rendering: optimizeLegibility;
  letter-spacing: .15em;
	color:#616161;

}
.caption.header h2 {
	font-size: 15px;
		/*font-weight: 300;*/
   font-weight: bold;

	   text-align: right;
	   text-transform: uppercase;
	   text-rendering: optimizeLegibility;
  letter-spacing: .15em;
	color: #BDBDBD;
}
.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;

}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #de995e;
}

.social-login {
	margin-top: 35px;
}

.social-login h3 {
	color: #fff;
}

.social-login-buttons {
	margin-top: 25px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
textarea.form-control {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 3px solid #ddd;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

select{
	width: 100%;
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 3px solid #ddd;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea,
textarea.form-control {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
textarea.form-control:focus {
	outline: 0;
	background: #fff;
    border: 3px solid #ccc;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }



button.btn {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #616161;
    border: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;

    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.card-body > button {

	text-align: center;

}

.card-body > h5 {

	font-size: 20px;

}
.btn-info{
	height: 50px;
		margin: 0;
		padding: 0 20px;
		vertical-align: middle;
		background: #616161;
		border: 0;
		font-size: 16px;
		font-weight: 300;
		line-height: 50px;
		color: #fff;
		-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
		text-shadow: none;
		-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
		-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s
}

button.btn:hover { opacity: 0.6; color: #fff; }

button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button.btn:focus { outline: 0; opacity: 0.6; background: #de995e; color: #fff; }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #de995e; color: #fff; }

/***** prove css per carrello *****/
.container cart {
background-color: #3c3d41;
padding: 60px 40px;
color: rgba(255,255,255,1.00);
margin-bottom: 20px;
border-radius: 2px;
}
.container-carousel {
	margin-left: 0;
	margin-right: 0;
}
.container-whoare {

 margin-top: 25px;
	padding: 50px 150px 0px  150px;
	margin-bottom: 20px;
}
.form-box {
	margin-top: 5px;
}
.form-top-left {
	margin-top: 0;
	margin-bottom: 0;
}
.form-top-right{
	margin-top: 0;
	margin-bottom: 0;
}
.chi_siamo_parag{

	padding-top: 0;
	padding-bottom: 0;
}
.thumbnail {
	background-color: #BDBDBD;
	height:300px;
	width:100%;
}
.circle{

	border-radius: 50%;
	color: #ffffff !important;
	height: 250px;
	width: 250px;
	text-align: center;
	float: center;

}
.caption-chi_siamo{
	padding-top: 10px;
	text-align: center;
}
.regola_darte{
	padding-left: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.row-presentazione{
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;

}
.row-dicono{

	font-size: 15px;
		/*font-weight: 300;*/
	 font-weight: bold;
	 text-align: center;
		color: black;
			padding-left: 20px;
			padding-right: 20px;
			font-size: 20px;

}
.row-recensioni p{
	font-size: 22px;
}

.row-recensioni h1{
	font-size: 40px;
}
.row-slider{
	margin-left: 20px;
	padding-left: 20px;

	margin-right: 20px;
	height: 50%;

}
.carousel-content{
		text-align: center;
		color: black;
		font-size: 18px;
}
.mappa{
	margin-top: 52px;
}

.pippo{
	margin-top: 80px;
}

.dicono > h1{
	font-size: 40px;
}
a.btn-social,.btn-social
{
    border-radius: 50%;
    color: #ffffff !important;
    display: inline-block;
    height: 30px;
		width: 30px;
    line-height: 35px;
  /*  margin: 8px 4px;*/
    text-align: center;
    text-decoration: none;
    transition: background-color .3s;
    webkit-transition: background-color .3s;

}

.btn-social .fa,.btn-social i
{
    backface-visibility: hidden;
    moz-backface-visibility: hidden;
    ms-transform: scale(1);
    o-transform: scale(1);
    transform: scale(1);
    transition: all .25s;
    webkit-backface-visibility: hidden;
    webkit-transform: scale(1);
    webkit-transition: all .25s;
}
.btn-social:hover,.btn-social:focus
{
    color: #fff;
    outline: none;
    text-decoration: none;
}
.btn-social:hover .fa,.btn-social:focus .fa,.btn-social:hover i,.btn-social:focus i
{
    ms-transform: scale(1.3);
    o-transform: scale(1.3);
    transform: scale(1.3);
    webkit-transform: scale(1.3);
}
.btn-social.btn-xs
{
    font-size: 9px;
    height: 24px;
    line-height: 13px;
    margin: 6px 2px;
    width: 24px;
}
.btn-social.btn-sm
{
    font-size: 13px;
    height: 36px;
    line-height: 18px;
    margin: 6px 2px;
    width: 36px;
}
.btn-social.btn-lg
{
    font-size: 22px;
    height: 72px;
    line-height: 40px;
    margin: 10px 6px;
    width: 72px;
}
.btn-facebook
{
    background-color: #3b5998;
}
.btn-facebook:hover
{
    background-color: #4c70ba;
}
.btn-instagram
{
    background-color: #C2185B;
}
.btn-instagram:hover
{
    background-color: #D81B60;
}
.btn-twitter
{
    background-color: #55acee;
}
.btn-twitter:hover
{
    background-color: #83c3f3;
}
.btn-google-plus
{
    background-color: #dd4b39;
}
.btn-google-plus:hover
{
    background-color: #e47365;
}
.btn-pinterest
{
    background-color: #cc2127;
}
.btn-pinterest:hover
{
    background-color: #e04046;
}
.google-maps {
  position: relative;
  padding-bottom: 75%; // Definisco l'aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.circle{
	border-radius: 50%;
	color: #ffffff !important;
	height: 250px;
	width: 250px;
	text-align: center;
	float: center;
}
.container-contacts{
	color: #3c3d41;
}
.container-menu{
	margin-top: 25px;
	 padding: 50px 150px 0px  150px;
	 margin-bottom: 20px;
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
.card {
	border: 1px solid #9E9E9E;
	 border-radius: 6px;
	 min-height: 460px;
	 margin-bottom: 25px;
}

.card  img {
	border: 0px solid ;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.card-footer{
	position: absolute;
  bottom: 0;
	width: 91%;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	margin-bottom: 35px;


}
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
		font-size: 16px;
}

@media screen and (max-width: 600px) {
    table#gestione tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		float:left;
	}

	.actions .btn-info{


	}
	.actions .btn-danger{


	}

	table#gestione thead { display: none; }
	table#gestione tbody td { display: block; padding: .6rem; min-width:320px;}
	table#gestione tbody tr td:first-child { background: #333; color: #fff; }
	table#gestione tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}

	table#gestione tfoot td{			width:20%;
			display: inline !important;}
	table#gestione tfoot td .btn{display:block;}





}




@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		float:left;
	}

	.actions .btn-info{


	}
	.actions .btn-danger{


	}

	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}

	table#cart tfoot td{			width:20%;
			display: inline !important;}
	table#cart tfoot td .btn{display:block;}





}@font-face {

}
.saluto {
	font-size: 20px;
}
@media all and (max-width: 599px) and (min-width: 320px){
    h1,h2{
		line-height: 25px;
	}
}
